@font-face {
  font-family: 'mont-th';
  src: url('./font/Montserrat-Thin-10.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-lt';
  src: url('../font/Montserrat-Light-6.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont';
  src: url('../font/Montserrat-Regular-8.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-md';
  src: url('../font/Montserrat-Medium-7.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-sbd';
  src: url('../font/Montserrat-SemiBold-9.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-bd';
  src: url('../font/Montserrat-Bold-3.otf');font-weight: normal;font-style: normal;
}
@font-face{
  font-family: 'mont-black';
  src: url('../font/Montserrat-Black-2.otf');font-weight: normal;font-style: normal;
}