@import 'font';

$flex: flex;

// color
$white: #fff;
$black: #000;
$color: #3255a4;
$color2: #416cbc;
$color3: #303030;
$color4: #3e3e3e;
// $color5: #c3c3c3;
$color6: #797979;
$color7: #efefef;

// font
$fm1: mont-th;

$fs1: 60px;
$fs2: 48px;
$fs3: 36px;
$fs4: 24px;
$fs5: 18px;
$fs6: 14px;
$fs7: 12px;

//width

$width: 100%;
$widt: 96%;
$widt2: 94%;
$wid: 50%;
$wid2: 48%;
$wid3: 32%;
$wid4: 24%;
$wid5: 19%;
